.task {
  width: 25rem;
  height: 4rem;
  padding: 0.25rem 1rem;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px darkcyan;
  font-family: "Khula", sans-serif;
  background-color: white;
}

.taskTitle {
  background-color: white;
  font-family: "Khula", sans-serif;
  font-weight: 400;
}

.inputNewTask {
  padding: 0.5rem 1rem;
  height: 1.5rem;
  border: 1px solid lightslategray;
  border-radius: 1.5rem;
  font-family: "Khula", sans-serif;
}

@media (max-width: 480px) {
  .task {
    width: 12rem;
  }
}
@media (max-width: 768px) {
  .task {
    flex-direction: column;
    min-width: 12rem;
    height: fit-content;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    border-radius: 1.5rem;
  }
}
