.task {
  min-height: 4rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px darkcyan;
  font-family: "Khula", sans-serif;
  background-color: var(--task-bg-color);
}

.taskTitle {
  width: 15rem;
  word-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  background-color: var(--task-bg-color);
  font-size: 1.17em;
  font-family: "Khula", sans-serif;
  font-weight: 400;
}

.inputNewTask {
  padding: 0.5rem 1rem;
  height: 1.5rem;
  border: 1px solid lightslategray;
  border-radius: 1.5rem;
  font-family: "Khula", sans-serif;
}

@media (max-width: 1430px) {
  .taskTitle {
    width: 12rem;;
  }
}
@media (max-width: 1270px) {
  .taskTitle {
    width: 10rem;
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .task {
    flex-direction: column;
    min-width: 12rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }
  .taskTitle {
    min-width: 10rem;
  }
}


