* {
  padding: 0px;
  margin: 0px;
  background-color: E8E8E8;
}

.screen {
  padding: 0;
  margin: 0;
  background: url("../public/themes/brown-wood-theme.jpg") #f5f5f5;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-repeat: repeat;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

@media (max-width: 1375px) {
  .screen{
    padding: 20px;
    margin: 0;
  }
}